// this will be formValidation.pug

if(errors)
        h1 Apologies!
        h2 These are the errors that need to be fixed and then you may try again.
        ul.error
            each error in errors
                li
                    =error.message
